<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @credential.user %>
</p>

<p>
  <strong>Schema:</strong>
  <%= @credential.schema %>
</p>

<p>
  <strong>Snapshot:</strong>
  <%= @credential.snapshot %>
</p>

<p>
  <strong>Status:</strong>
  <%= @credential.status %>
</p>

<p>
  <strong>Forecast:</strong>
  <%= @credential.forecast %>
</p>

<p>
  <strong>Deploy:</strong>
  <%= @credential.deploy %>
</p>

<%= link_to 'Edit', edit_credential_path(@credential) %> |
<%= link_to 'Back', credentials_path %>
